.card{
  margin-left: 32px;
  margin-bottom: 32px;
  .body{
    display: flex;
    flex-direction: column;

    .information{
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
      .titleInform{
        box-sizing: none !important;
        margin-right: 12px !important;
      }
    }
  }
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cards-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}